@model MVCKutuphane.Models.Entity.Uyeler
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{
    <div style="margin-bottom: 15px"></div>
    <div class="form-group">
        <label>Uye Id</label>
        @*@Html.LabelFor(i=>i.Id)*@
        @Html.TextBoxFor(i => i.Id, new { @class = "form-control" })
        <br />
        @*@Html.LabelFor(i=>i.Ad)*@
        <label>Uye Adı</label>
        @Html.TextBoxFor(i => i.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.Ad,"",new{ @style="color:red"})
        <br/>
        <label>Uye Soyad</label>
        @Html.TextBoxFor(i => i.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.Soyad,"",new{ @style="color:red"})
        <br/>
        <label>Mail</label>
        @Html.TextBoxFor(i => i.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.Mail,"",new{ @style="color:red"})
        <br/>
        
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(i => i.KullaniciAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.KullaniciAdi,"",new{ @style="color:red"})
        <br/>
        <label>Şifre</label>
        @Html.TextBoxFor(i => i.Sifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.Sifre,"",new{ @style="color:red"})
        <br/>
        
        <label>Okul</label>
        @Html.TextBoxFor(i => i.Okul, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.Okul,"",new{ @style="color:red"})
        <br/>
        <label>Telefon</label>
        @Html.TextBoxFor(i => i.Telefon, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.Telefon,"",new{ @style="color:red"})
        <br/>
        
        <label>Fotoğraf Linki</label>
        @Html.TextBoxFor(i => i.Fotograf, new { @class = "form-control" })
        @Html.ValidationMessageFor(i=>i.Fotograf,"",new{ @style="color:red"})
        <br/>


    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}